<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:insert="~{fragments/layout :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/logout :: logout}"></div>
<h1 class="color-pink-500">Hey <span th:text="${user.name}"></span></h1>
<div hx-sse="connect:/api/stream">
    <div hx-sse="swap:message"></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>